.ProfileGraph {
  display: inline-block;
}

.ProfileGraph .balance-graph {
  width: 90vw;
  height: 90vw;
  max-width: 480px;
  max-height: 480px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.ProfileGraph .column {
  width: 100%;
  height: 100%;
}

.ProfileGraph .column .values {
  width: 100%;
  height: 90%;
  position: relative;
}

.ProfileGraph .column .values * {
  position: absolute;
  left: 0;
  right: 0;
  width: 50%;
}

.ProfileGraph .column .values .base {
  bottom: 0;
  border-radius: 4px;
  height: 100%;
}

.ProfileGraph .column .values .min {
  bottom: 0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.ProfileGraph .column .values .max {
  top: 0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.ProfileGraph .column .values .actual {
  width: 10%;
  margin-left: 20%;
  bottom: 0;
  transition: height 300ms ease;
}

.ProfileGraph .column .MuiTypography-root {
  font-size: calc(12px + (100vw - 320px) / 180 * 4);
}

@media all and (min-width: 500px) {
  .ProfileGraph .column .MuiTypography-root {
    font-size: 16px;
  }
}
